.idea/
../out/*
../CT_Index_Java.iml
.class
CT_Index_Java/*.iml
CT_Index_Java/out/*
answers/*
blehclique.txt
graphs/*
candidateIDs-AIDS-pattern.txt
statistics/*
CT_Index_Java/candidates.txt
CT_Index_Java/candidateIDs.txt
CT_Index_Java/candidateIDs-AIDS-patterns.txt

